* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clickDiv {
  width: 360px;
  height: 360px;
  background: url(../img/cookie-default.svg) no-repeat center top / cover;
  opacity: .7;
  cursor: pointer;
}

#clickDiv:active {
  background-image: url(../img/cookie-clicked.svg);
  transform: scale(.9);
}